body {
	text-align: center;
	
}

h1 {
	font-family: Monoton;
	margin: 0.1em;
	font-size: 70px;
	
}

h2 {
  margin: 0 0 0.15em;
}

.firstDiv {
	margin-bottom: 1em;
}

.design{
  margin: 0.4em 0 0;
  font-size: 30px;
}

.container {
	padding-bottom: 2px;
	
}

table {
  display: inline-table;
  margin: 1em;
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid black;
}

table td {
  border: 1px solid black;
  height: 20px;
  width: 20px;
}
